* {
    box-sizing: border-box;
    size: 62.5%;
    margin: 0 auto;
}

img {
    size: 10%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

body {
    background-image: url("https://arweave.net/yCFIM6ndGVrdqqpt024DVLqOLxmJwZF3bJYTZuXeAlA");
    background-position: cover;
}

h1 {
    background-color: #777;
    text-decoration: double;
}