* {
    box-sizing: border-box;
    size: 62.5%;
    margin: 0 auto;
}

img {
    size: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

h1 {
    background-image: url (https://arweave.net/yCFIM6ndGVrdqqpt024DVLqOLxmJwZF3bJYTZuXeAlA);
}